.pop-up { 
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-transition: background-color 100ms ease-in;
  -moz-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}