.header {
  width: 68.75%;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto 0 auto;
  padding: 45px 0 41px 0;
  flex: 1;
}

@media screen and (max-width:1279.9px) {
  .header {
    width: 80%;
  }
}

@media screen and (max-width:1023.9px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width:767.9px) {
  .header {
    width: 100%;
    min-height: 83px;
    padding-top: 28px;
    padding-bottom: 0;
  }
}