.pop-up__job {
  font-family: inherit;
  display: block;
  margin: 30px auto 0 auto;
  padding: 0 0 13px 0;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  color: black;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* В макете (фигме) не было показано как толжен выглядить инпут при фокусе */
.pop-up__job:focus {
  color: black;
  background-color: white;
  border-color: #bdbdbd;
  border-bottom: 0;
  background-color: rgba(194, 194, 194,0.2);
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
}

@media screen and (max-width:767.9px) {
  .pop-up__job {
    margin: 30px auto 0 auto;
    width: 238px;
  }
}