.elements {
  margin: 50px auto 0 auto;
  width: 68.75%;
  display: grid;
  column-gap: 17px;
  row-gap: 20px;
  grid-template-columns: repeat( auto-fill, minmax(282px, 1fr) );
  overflow: hidden;
}

@media screen and (max-width:1279.9px) {
  .elements {
    width: 80%;
    grid-template-columns: repeat( auto-fill, minmax(259px, 1fr) );
  }
}

@media screen and (max-width:1023.9px) {
  .elements {
    width: 90%;
    grid-template-columns: repeat( auto-fill, minmax(337px, 1fr) );
  }
}

@media screen and (max-width:767.9px) {
  .elements {
    margin-top: 36px;
    width: 88.125%;
    grid-template-columns: minmax(282px, 1fr);
  }
}