.profile__info {
  margin: 22px 0 0 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  column-gap: 18px;
  row-gap: 9px;
  justify-self: flex-start;
}

@media screen and (max-width: 767.9px) {
  .profile__info {
    margin: 26px auto 0 auto;
    justify-items: center;
    column-gap: 10px;
    row-gap: 7px;
  }
}