.element {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: fit-content;
  /* overflow: hidden; Если не скрывать то у фото пропадает округление углов сверху (бордер радиус) по брифу же он присутствует*/
  line-height: 0;
}

