.pop-up__container {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  min-width: 430px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:767.9px) {
  .pop-up__container {
    min-width: 282px;
  }
}